root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
quote_type = double

[{package,package-lock}.json]
indent_size = 2

[*.{yaml,yml}]
indent_size = 2
