
# build artifacts
*.tsbuildinfo
/docs/api
/lib/

**/dist/*
/dist/esm/*
!/dist/esm/package.json

# caches
.eslintcache
.cache
.parcel-cache/

# dependencies
node_modules/

*.log
.DS_Store
.vscode/
temp/

docs/pages
