
# build artifacts
*.tsbuildinfo
/docs/api
/lib/
dist/

# caches
.eslintcache
.cache
.parcel-cache/

# dependencies
node_modules/
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
/.pnp.*

*.log
.DS_Store
.vscode/
temp/
