.idea

# build artifacts
*.tsbuildinfo
/lib/
/coverage/
/docs/pages/

**/dist/*
/dist/esm/*

# caches
.eslintcache
.cache
.parcel-cache/

# dependencies
node_modules/

*.log
.DS_Store
.vscode/
temp/
.history/
