/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #0098a6;
    --ifm-color-primary-dark: #008995;
    --ifm-color-primary-darker: #00818d;
    --ifm-color-primary-darkest: #006a74;
    --ifm-color-primary-light: #00a7b7;
    --ifm-color-primary-lighter: #00afbf;
    --ifm-color-primary-lightest: #00c6d8;
    --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
