name: Release
on:
  release:
    types: [created]

permissions:
  contents: write # Required for pushing docs
  id-token: write # Required for provenance

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: npm
          registry-url: https://registry.npmjs.org

      - name: Install dependencies
        run: npm ci

      - name: Publish package release
        if: "!github.event.release.prerelease"
        run: npm publish

      - name: Publish package pre-release
        if: "github.event.release.prerelease"
        run: npm publish --tag next

      - name: Generate API documentation
        run: npm run typedoc

      - name: Deploy pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/pages
