name: Release
on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
        env:
          CI: true

      - name: Cache incremental builds
        uses: actions/cache@v2
        with:
          path: |
            .eslintcache
            lib/
            **/*.tsbuildinfo
            **/node_modules/.cache
          key: build-${{ github.ref }}-${{ github.sha }}
          restore-keys: |
            build-${{ github.ref }}-
            build-refs/heads/main-

      - run: npm install
      - run: npm run build
